# This software package was made using Python 3.10.4. Pip version 22.0.4 is also needed (other versions most likely work fine as well).

numpy==1.22.2
pandas==1.4.1
gensim==4.1.2
sklearn==0.0
transformers==4.17.0
tensorflow==2.8.0
tensorflow_hub==0.12.0
nltk==3.7
lxml==4.8.0
